<!DOCTYPE html>
<html>
<!-- index.html -->
<head>

  <style>
    
    *{

    margin: 0%;
  
  }
  body {
    background: linear-gradient(to bottom, #d0c5c5, #f01010);
    height: 100vh;
    }
  
    
    .center-div {
  Margin-left:500px;
  margin-top: 600px;
    }</style>
</head>

<body>
    <h1>Welcome to the Web Portal</h1>
    <form action="/submit" method="POST">
        <label for="input_data">Container Number:</label>
        <input type="text" name="input_data" id="input_data">
        <button type="submit">Track Container</button>
    </form>
</body>
</html>